@import '@src/index.scss';

.container {
	position: relative;
	background-color: $dark-glasseffect;
	backdrop-filter: blur(0.1rem);
	margin: $spacing-half;

	color: $dark-text;
	box-shadow: inset 0 0 $size 0.1rem $dark-accent;
	border-radius: $size-half;
	padding: $spacing;

	min-width: $width-vw-25;
	z-index: 99;

	top: calc($spacing-double * -3);

	@include media-md {
		top: 0;
		padding: $spacing $spacing-double;
	}
}