@import '@src/index.scss';

.navbar {
    position: sticky;
	top: 0;
	z-index: 999;
    width: $width-vw-100;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: $spacing;

	.left {
		display: flex;
		flex-grow: 1;
		transition: transform 10s ease-in-out;

		.rotate0 {
			font-size: $size-half;
			animation: revRotateToX 0.8s ease-in-out forwards;
		}
		.rotate45 {
			font-size: $size-half;
			animation: rotateToX 0.9s ease-in-out forwards;
		}
		
	}
	.right {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-grow: 11;

		.navItem {
			transition: transform 0.3s ease-in-out;

			&Show {
				transform: translateY(0);
			}
			&Hide {
				transform: translateY(-5rem);
			}
		}

		.navItem:nth-child(1) {
			transition-delay: 0;
		}
		.navItem:nth-child(2) {
			transition-delay: 0.1s;
		}
		.navItem:nth-child(3) {
			transition-delay: 0.2s;
		}
		.navItem:nth-child(4) {
			transition-delay: 0.3s;
		}
		.navItem:nth-child(5) {
			transition-delay: 0.4s;
		}

		@include media-md {
			flex-grow: 1;
		}
	}
	
	.active {
		color: $dark-primary;
		background-color: $dark-text;

		&:hover {
			box-shadow: 0 0 1rem 0.1rem $dark-accent, 
						inset 0 0 0 0.1rem $dark-accent;
		    color: $dark-accent;
		}
	}

}

