@import '../../index.scss';

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem;

	.left {
		display: flex;
		@include media-md {
			flex-grow: 1;
		}
	}
	.right {
		display: flex;
		@include media-md {
			flex-grow: 1;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}