.container {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.flex__right {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 100%;
}