@import '../../../index.scss';

.btn {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 2rem;
	min-height: 2rem;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0.5rem 0.5rem;
	transition: background-color 0.3s ease-in-out,
				box-shadow 0.3s ease-in-out,
				color 0.3s ease-in-out;


	&:hover {
		background-color: transparent;
		box-shadow: 0 0 1rem 0.1rem $dark-primary, inset 0 0 0 0.1rem $dark-primary-hover;
		color: $dark-primary-hover;
	}

	&__responsive {
		background-color: $dark-primary;
		color: $dark-text;
		border-radius: 50%;
		
		@include media-ssm {
			width: 3rem;
			height: 3rem;
		}
		@include media-sm {
			width: 2rem;
			height: 2rem;
		}
		@include media-md {
			width: fit-content;
			height: fit-content;
			border-radius: 0.5rem;
		}
		
	}
	.icon {
		font-size: 1rem; // Adjust the icon size
		// color: $dark-text; // Icon color

		transition: color 0s ease-in-out;
		&:hover {
			color: $dark-primary-hover;
		}
		
		@include media-ssm {
			font-size: 1.5rem;
		}

		@include media-sm {
			font-size: 1rem;
		}

		@include media-xxl {
			font-size: 2rem;
		}
	}
	.text {
		@include media-ssm {
			display: none;
		}
		@include media-md {
			display: inline-block;
			font-size: 1rem;
			padding: 0.1rem 0.3rem 0;
		}
		
		@include media-xxl {
			font-size: 2rem;
		}
	}
}
