@import '@src/index.scss';

.btn {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: $size-double;
	min-height: $size-double;
	cursor: pointer;
	border: none;
	outline: none;
	padding: $spacing-half ;
	transition: background-color 0.3s ease-in-out,
				box-shadow 0.3s ease-in-out,
				color 0.3s ease-in-out;


	&:hover {
		background-color: transparent;
		box-shadow: 0 0 1rem 0.1rem $dark-primary, inset 0 0 0 0.1rem $dark-primary-hover;
		color: $dark-primary-hover;
	}

	&__responsive {
		background-color: $dark-primary;
		color: $dark-text;
		border-radius: $perc-50;
		
		@include media-ssm {
			width: calc($size * 3);
			height: calc($size * 3);
		}
		@include media-sm {
			width: calc($size * 2.5);
			height: calc($size * 2.5);
		}
		@include media-md {
			width: fit-content;
			height: fit-content;
			border-radius: $size-half;
		}
		
	}

	&__rect {
		border-radius: $size-half;
		width: $perc-100;
		height: fit-content;

		box-shadow: inset 0 0 0 0.1rem $dark-accent;
		background-color: transparent;
		color: $dark-accent;

		@include media-md {
			width: calc($size-double * 10);
		}
	}
	.icon {
		font-size: $size-one-half;

		transition: color ease-in-out;
		
		@include media-sm {
			font-size: $size;
		}

		@include media-md {
			font-size: $size;
		}
	}
	.text {
		@include media-ssm {
			display: none;
		}
		@include media-md {
			display: inline-block;
			font-size: $size;
			padding: 0.1rem 0.3rem 0;
			text-decoration: none;
		}
	}

	.textShow {
		display: block;
	}
}
