@import '@src/index.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	color: $dark-text;
	border: 1px solid $dark-accent;
	border-radius: $size-half;
	
	font: {
		style: italic;
		weight: 300;
	}

	.content {
		text-align: center;
	}
	
	.authorContent {
		margin-right: $spacing;
		align-self: flex-end;
	}
}

