.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	
	font: {
		style: italic;
		weight: 300;
	}

	.content {
		text-align: center;
	}
	
	.authorContent {
		margin-right: $spacing;
		align-self: flex-end;
	}
}

