.center {
	position: absolute;
    top: 3rem;
    left: 3.5rem;
	width: 2rem;
	height: 2rem;
	background-color: #fc6d00;
	border-radius: 50%;
}

.border_curve {
	position: absolute;
	border-top: 2.5rem solid #ff0000;
	border-top-left-radius: 100%;
	width: 5rem;
	height: 3rem;
}
.circle {
	position: absolute;
	top: -2.5rem;
	left: 3.7rem;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #00ff00;
	border: 1rem solid #ff0000;
	border-radius: 50%;
}

.border_curve_0 {
	position: absolute;
	left: 4rem;
	border-top: 2.5rem solid #00ff00;
	border-top-left-radius: 100%;
	width: 5rem;
	height: 3rem;
	transform: rotate(120deg);
}

.circle_0 {
	position: absolute;
	top: -2.5rem;
	left: 3.7rem;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #0000ff;
	border: 1rem solid #00ff00;
	border-radius: 50%;
}


.border_curve_1 {
	position: absolute;
	top: 3.5rem;
	left: 2rem;
	border-top: 2.5rem solid #0000ff;
	border-top-left-radius: 100%;
	width: 5rem;
	height: 3rem;
	transform: rotate(240deg);
}

.circle_1 {
	position: absolute;
	top: -2.5rem;
	left: 3.7rem;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #ff0000;
	border: 1rem solid #0000ff;
	border-radius: 50%;
}

.animation {
	position: absolute;
	width: inherit;
    height: inherit;
	transform-origin: center;
	animation: spin 4s linear infinite;
}


@keyframes spin {
	from {
		transform: rotate(0deg); 
	}
	to {
		transform: rotate(360deg);
	}
}
