@import '@src/index.scss';

.container {
	position: relative;
	display: flex;
	height: $perc-100;

	.icons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: $spacing;

		.resume {
			text-align: center;
			
			color: $dark-primary;
			font-size: $size-one-half; 
			background-color: transparent;

			flex: 1;
		}

		.iconGrp {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			flex: 1;
		}

		.iconBtn {
			color: $dark-text;
			font-size: $size-one-half; 
			background-color: transparent;
			cursor: pointer;
			position: relative;
		}

		.active {
			color: $dark-primary;
		}

	}
	.contents {
		flex: 1;
		overflow-y: hidden;
	}

	.content_box {
		position: relative;
		left: $spacing;

		display: flex;
		flex-direction: column;

		font-size: calc($size-half * 2.5);

		height: $perc-100;
		width: calc($perc-100 * 0.9);
		background-color: $dark-secondary;
		
		margin: $spacing-double $spacing-half $spacing-one-half;
		color: $dark-text;
		box-shadow: inset 0 0 1rem 0.1rem $dark-accent;
		border-radius: $size-half;
		padding: $spacing $spacing-double;

		overflow-y: scroll;
		
		@include media-md {
			left: calc($spacing-one-half * 2);
		}
		@include media-xxl {
			height: calc($perc-100 * 0.97);
		}
	}

	.scale{
		scale: 0.9;
		&_list {
			li {
				scale: 0.8;
			}
		}
	}
	.text_center {
		text-align: center;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(calc($grid-min-width * 0.8), 1fr));
		gap: $spacing-half;
	}
}
