@import '@src/index.scss';

.container {
	position: relative;
	top: calc($spacing * 8);

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	gap: $spacing-half;

	@include media-md {
		top: calc($spacing * 10);
	}
}

::-webkit-scrollbar {
	// width: calc($size-half / 2);
	display: none;
}
// ::-webkit-scrollbar-track {
// 	margin-block: $spacing;
// }
// ::-webkit-scrollbar-thumb {
// 	background: $dark-primary;
// 	border-radius: $size;
// }