// Colors for Dark Theme
$dark-primary: hsl(22, 100%, 50%); // #ff5c00 Orange as the dominant color
$dark-secondary: hsl(0, 0%, 7%); // #121212 Complementary color
$dark-accent: hsl(185, 69%, 61%); // ~#a3f3f3~ #59D5E0 Neutral color
$dark-glasseffect: hsla(0, 0%, 100%, 0.114); // #ffffff1d
$dark-glasseffect-inset: hsla(0, 0%, 53%, 0.102); // #8787871a
$dark-text: hsl(192, 15%, 94%); // #ecf0f1
$dark-primary-hover: hsl(29, 100%, 50%); // #ff7c00
$placeholder: hsl(0, 0%, 53%); // #888888

$accent-1: hsl(341, 100%, 63%); // accent 1 #ff407d
$accent-2: hsl(216, 22%, 76%); // accent 2 #B5C0D0
$accent-3: hsl(47, 100%, 50%); // accent 3 #FFC700
$accent-4: hsl(164, 92%, 52%); // accent 4 #15F5BA

$gmail: hsla(2, 100%, 50%, 0.8); // #ff0900
$linkedIn: hsla(201, 100%, 35%, 0.8); // #0077B5
$github: hsla(0, 0%, 20%, 0.8); // #333
$whatsapp: hsla(142, 70%, 49%, 0.8); // #25D366
$xTwitter: hsla(203, 89%, 53%, 0.8); // #1DA1F2
$instagram: hsla(340, 75%, 54%, 0.8); // #E1306C
$discord: hsla(227, 58%, 65%, 0.8); // #7289DA