// Navbar
@keyframes rotateToX {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(135deg);
	}
}

@keyframes revRotateToX {
	0% {
		transform: rotate(135deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

// Home
@keyframes bounce {
	0% {
		transform: translateY(-15rem);
	}
	20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-2rem);
	}
	70% {
		transform: translateY(-1rem);
	}
	90% {
		transform: translateY(-0.5rem);
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(calc($spacing-double * -10));
	}
	100% {
		transform: translateX(0);
	}
}
// Projects
@keyframes ScaleIn {
	0% {
		opacity: 0;
		scale: 0;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}

// About Dropdown
@keyframes slideDown {
	0% {
		top: -2rem;
		opacity: 0;
		max-height: 0;
	}
	25% {
		top: 0.5rem;
		opacity: 1;
		z-index: 71;
	}
	35% {
		top: 0;
		max-height: 0;
	}
	100% {
		max-height: calc($height-vh-25 * 1.5);
	}
}

@keyframes slideUp {
	0% {
		top: 0;
		opacity: 1;
		max-height: calc($height-vh-25 * 1.5);
	}
	65% {
		max-height: 0;
	}
	75% {
		top: 0.5rem;
		z-index: 69;
	}
	100% {
		top: -2rem;
		opacity: 0;
	}
}

// Loader
@keyframes dblSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-720deg);
	}
}

@keyframes dblSpin2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}