
// Colors for Dark Theme
$dark-primary: hsl(22, 100%, 50%); // #ff5c00 Orange as the dominant color
$dark-secondary: hsl(0, 0%, 7%); // #121212 Complementary color
$dark-accent: hsl(180, 77%, 80%); // #a3f3f3 Neutral color
$dark-glasseffect: hsla(0, 0%, 100%, 0.114); // #ffffff1d
$dark-glasseffect-inset: hsla(0, 0%, 53%, 0.102); // #8787871a
$dark-text: hsl(192, 15%, 94%); // #ecf0f1
$dark-primary-hover: hsl(29, 100%, 50%); // #ff7c00
$placeholder: hsl(0, 0%, 53%); // #888888

// Breakpoints
$breakpoint-ssm: 300px;
$breakpoint-sm: 576px;
$breakpoint-md: 767px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
$breakpoint-xxxl: 1920px;

// Font Sizes in rem
$size: 1rem;
$size-half: calc($size / 2);
$size-quarter: calc($size / 4);
$size-one-half: calc($size * 1.5);
$size-double: calc($size * 2);

// Margin and Padding in rem
$spacing: 1rem;
$spacing-half: calc($spacing / 2);
$spacing-quarter: calc($spacing / 4);
$spacing-one-half: calc($spacing * 1.5);
$spacing-double: calc($spacing * 2);

// Grid
$grid-min-width: 30rem;


// width and height
$width-vw-100: 100vw;
$height-vh-100: 100vh;
$width-vw-50: calc($width-vw-100 / 2);
$height-vh-50: calc($height-vh-100 / 2);
$width-vw-25: calc($width-vw-100 / 4);
$height-vh-25: calc($height-vh-100 / 4);

$perc-100: 100%;
$perc-50: calc($perc-100 / 2);
$perc-25: calc($perc-100 / 4);