@import '@src/index.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
	width: $perc-100;

	a {
		padding: $spacing-half $spacing-one-half;
		text-align: center;
		border: 1px solid $dark-primary;
		color: $dark-primary;
		border-radius: $width-vw-100;
	}
}