@import '@src/index.scss';


.container {
	// background-color: red;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	margin: 0.2rem 0.7rem;
	
	.dropdownBtn {
		background-color: transparent;
		color: $dark-text;
		width: 100%;
		text-align: center;
		cursor: pointer;
		
		border-radius: 0.5rem;
		box-shadow: 0 -0.3rem 0.5rem $dark-accent,
					0.3rem 0 0.5rem $dark-accent,
					0 0.3rem 0.5rem $dark-accent,
					-0.3rem 0 0.5rem $dark-accent, 
					inset 0 0 0 0.1rem $dark-primary;
		padding: 0.5rem 1rem;
		z-index: 69;
	}

	.dropdownContent {
		position: relative;
		// top: 2.3rem;
		width: 98%;

		color: $dark-text;
		background-color: $dark-secondary;
		
		border-radius: 0 0 0.5rem 0.5rem;
		box-shadow: 0 -0.1rem 0.5rem $dark-primary,
					0 0.3rem 0.5rem $dark-accent, 
					-0.1rem 0 0.5rem $dark-accent, 
					0.1rem 0 0.5rem $dark-accent, 
					inset 0 0 0 0.1rem $dark-primary;
		
		padding: 1rem;
		z-index: 70;
	}
}

.slideDownAnimation {
	animation: SlideDown 0.5s ease-in-out forwards;
	pointer-events: auto;
}
.slideUpAnimation {
	animation: SlideUp 0.3s ease-in-out forwards;
	pointer-events: none;
}

@keyframes SlideDown {
	0% {
		opacity: 0;
		height: 0;
		transform: translateY(-0.1rem);
	}
	100% {
		opacity: 1;
		height: fit-content;
		transform: translateY(0);
	}
}

@keyframes SlideUp {
	0% {
		opacity: 1;
		height: fit-content;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		height: 0;
		transform: translateY(-0.1rem);
	}
}