@import '@src/index.scss';


.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin: $spacing-half $spacing-one-half;
	
	.dropdownBtn {
		background-color: transparent;
		color: $dark-text;
		width: 100%;
		text-align: center;
		cursor: pointer;
		
		border-radius: $size-half;
		box-shadow: 0 -0.3rem 0.5rem $dark-accent,
					0.3rem 0 0.5rem $dark-accent,
					0 0.3rem 0.5rem $dark-accent,
					-0.3rem 0 0.5rem $dark-accent, 
					inset 0 0 0 0.1rem $dark-primary;
		padding: $spacing-half $spacing;
		z-index: 70;
	}

	.dropdownContent {
		position: relative;
		width: calc($perc-100 - $spacing);

		color: $dark-text;
		background-color: $dark-secondary;
		
		border-radius: 0 0 $size $size;
		box-shadow: 0 -0.1rem 0.5rem $dark-primary,
					0 0.3rem 0.5rem $dark-accent, 
					-0.1rem 0 0.5rem $dark-accent, 
					0.1rem 0 0.5rem $dark-accent, 
					inset 0 0 0 0.1rem $dark-primary;
		
		padding: $spacing;
		z-index: 69;
		opacity: 1;
		
		max-height: 0;
		overflow: hidden scroll;
		transition: max-height 0.5s ease-out;
	}

	.marginTopAnim {
		margin-top: $size;
	}
}

.slideDownAnimation {
	animation: slideDown 1.5s ease-in-out forwards;
	pointer-events: auto;
}
.slideUpAnimation {
	animation: slideUp 1.5s ease-in-out forwards;
	pointer-events: none;
}
