@import '@src/index.scss';


.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	// margin: 0.2rem 0.7rem;
	
	.dropdownBtn {
		background-color: transparent;
		color: $dark-text;
		width: 100%;
		text-align: center;
		cursor: pointer;
		
		border-radius: 0.5rem;
		box-shadow: 0 -0.3rem 0.5rem $dark-accent,
					0.3rem 0 0.5rem $dark-accent,
					0 0.3rem 0.5rem $dark-accent,
					-0.3rem 0 0.5rem $dark-accent, 
					inset 0 0 0 0.1rem $dark-primary;
		padding: 0.5rem 1rem;
		z-index: 70;
	}

	.dropdownContent {
		position: relative;
		// top: 2.3rem;
		width: 98%;

		color: $dark-text;
		background-color: $dark-secondary;
		
		border-radius: 0 0 0.5rem 0.5rem;
		box-shadow: 0 -0.1rem 0.5rem $dark-primary,
					0 0.3rem 0.5rem $dark-accent, 
					-0.1rem 0 0.5rem $dark-accent, 
					0.1rem 0 0.5rem $dark-accent, 
					inset 0 0 0 0.1rem $dark-primary;
		
		padding: 1rem;
		z-index: 69;
		opacity: 1;
		
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease-out;
	}
}

.slideDownAnimation {
	animation: SlideDown 1.5s ease-in-out forwards;
	pointer-events: auto;
	
}
.slideUpAnimation {
	animation: SlideUp 1.5s ease-in-out forwards;
	pointer-events: none;
}
