@import '@src/index.scss';

$md-rep: 8;
$lg-rep: 7;
$xl-rep: 6;

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: $width-vw-100;
	height: $perc-100;

	.box {
		width: $width-vw-100;
		height: fit-content;
		padding: $spacing-one-half;

		animation: bounce 1.5s linear;
		
		@include media-md {
			width: $width-vw-50;
			padding: $spacing $spacing-double;	
		}
	}

	.list {
		&_group {
			display: flex;
			justify-content: space-evenly;
		}

		&_item {
			flex-grow: 1;
		}
	}

	.addBtnStyle {
		box-shadow: inset 0 0 0 0.1rem $dark-accent;
		background-color: transparent;
		color: $dark-accent;

		@include media-md {
			width: calc($size-double * 10);
		}
	}

	.animate {
		position: absolute;

		&_1 {
			top: calc($height-vh-50 + ($spacing-double * 4));
			animation: slideRight 1.5s linear;
		}
		&_2 {
			bottom: calc($height-vh-50 - ($spacing-double * 6.5));
			animation: slideLeft 1.5s linear;
		}
		&_3 {
			top: calc($height-vh-50 + ($spacing-double * 7));
			animation: slideRight 1.5s linear;
		}
		&_4 {
			bottom: calc($height-vh-50 - ($spacing-double * 9.5));
			animation: slideLeft 1.5s linear;
		}
		
		@include media-md {
			&_1 {
				top: calc($height-vh-50 - ($spacing-double * $md-rep));
				left: $spacing-double;
				animation: slideRight 1.5s linear;
			}
			&_2 {
				bottom: calc($height-vh-50 - ($spacing-double * $md-rep));
				left: $spacing-double;
				animation: slideRight 1.5s linear;
			}
			&_3 {
				top: calc($height-vh-50 - ($spacing-double * $md-rep));
				right: $spacing-double;
				animation: slideLeft 1.5s linear;
			}
			&_4 {
				bottom: calc($height-vh-50 - ($spacing-double * $md-rep));
				right: $spacing-double;
				animation: slideLeft 1.5s linear;
			}
		}

		@include media-lg {
			&_1 {
				top: calc($height-vh-50 - ($spacing-double * $lg-rep));
				left: calc($spacing-double * 4);
				animation: slideRight 1.5s linear;
			}
			&_2 {
				bottom: calc($height-vh-50 - ($spacing-double * $lg-rep));
				left: calc($spacing-double * 4);
				animation: slideRight 1.5s linear;
			}
			&_3 {
				top: calc($height-vh-50 - ($spacing-double * $lg-rep));
				right: calc($spacing-double * 4);
				animation: slideLeft 1.5s linear;
			}
			&_4 {
				bottom: calc($height-vh-50 - ($spacing-double * $lg-rep));
				right: calc($spacing-double * 4);
				animation: slideLeft 1.5s linear;
			}
		}

		@include media-xl {
			&_1 {
				top: calc($height-vh-50 - ($spacing-double * $xl-rep));
				left: calc($spacing-double * 4);
				animation: slideRight 1.5s linear;
			}
			&_2 {
				bottom: calc($height-vh-50 - ($spacing-double * $xl-rep));
				left: calc($spacing-double * 4);
				animation: slideRight 1.5s linear;
			}
			&_3 {
				top: calc($height-vh-50 - ($spacing-double * $xl-rep));
				right: calc($spacing-double * 4);
				animation: slideLeft 1.5s linear;
			}
			&_4 {
				bottom: calc($height-vh-50 - ($spacing-double * $xl-rep));
				right: calc($spacing-double * 4);
				animation: slideLeft 1.5s linear;
			}
		}
	}
}
