@import '@src/index.scss';

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	// @include media-md {
	// 	height: 90vh;
	// }

	.box {
		width: 100vw;
		height: fit-content;
		padding: 0.6rem 1.1rem;

		animation: bounce 1.5s linear;
		
		@include media-md {
			width: 50vw;
			padding: 1rem 2rem;	
		}
	}

	.list {
		&_group {
			display: flex;
			justify-content: space-evenly;
		}

		&_item {
			flex-grow: 1;
		}
	}
}

