@import '@src/index.scss';

$md-rep: 8;
$lg-rep: 7;
$xl-rep: 6;

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: $width-vw-100;
	height: $perc-100;

	.box {
		width: $width-vw-100;
		height: fit-content;
		padding: $spacing-one-half;

		animation: bounce 1.5s linear;

		.spacing {
			margin: $spacing-half 0;
		}
		
		@include media-md {
			width: calc($width-vw-50 * 1.5);
			padding: $spacing $spacing-double;	
			top: calc($spacing-double * -1);
		}

		@include media-xl {
			width: $width-vw-50;
		}
	}

	.list {
		&_group {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(calc($grid-min-width * 0.6), 1fr));
			gap: $spacing-half;
			text-align: center;
			cursor: pointer;

			li {
				border: {
					bottom: 1px solid $dark-text;
					right: 1px solid $dark-text;
				};
			}
		}
	}

	.form {
		height: calc($spacing-double * 10);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-end;

		&_btn {	
			width: $perc-100;
			background-color: $dark-glasseffect-inset;
			box-shadow: 0 0 0 0.1rem $dark-glasseffect;
			color: $dark-primary;

			@include media-md {
				width: $perc-25;
			}
		}
	}

}
