@import '@src/index.scss';

.container {
	display: flex;
	flex-direction: column;
	padding: $spacing;
	height: $perc-100;

	@include media-md {
		flex-direction: row;
		gap: $spacing;
	}


	.btnFlex {
		display: flex;
		flex-direction: column;
		gap: $spacing;

		&__item {
			@include media-md {
				width: calc($size-double * 8);
			}
		}
	}

	.chartEx {
		flex-grow: 1;
	}
}