@import '@src/index.scss';

.container {
	display: flex;
	flex-direction: column;
	padding: $spacing;
	height: $perc-100;

	@include media-md {
		flex-direction: row;
		gap: $spacing;
	}


	.btnFlex {
		display: flex;
		flex-direction: column;
		gap: $spacing;

		&__item {
			@include media-md {
				width: calc($size-double * 8);
			}
		}
	}

	.date {
		@include media-md {
			color: $dark-primary;
			font-size: $size-one-half;
		}
	}

	.timelineContainer {
		height: $perc-100;
		width: $perc-100;
		overflow-y: scroll;
		margin-top: $spacing;
	}
}
