.btn {
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 0.5rem;
}

.btn_default {
	background-color:transparent;
	color: #ff8500;
	border: 0.1rem solid #ff8500;
	box-shadow: 0 0 0.5rem 0.3rem #ff8500;
}