@import '@src/index.scss';

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax($grid-min-width, 1fr));
	gap: $spacing-half;

	.animate {
		animation: ScaleIn 1s linear;
	}

	.paraSpace {
		margin-top: $spacing;
	}
}
