@import '@src/index.scss';

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax($grid-min-width, 1fr));
	gap: $spacing-half;

	.animate {
		text-align: center;
		padding: $spacing-double;
		animation: scaleIn 1s linear;
		cursor: pointer;
	}

	.paraSpace {
		margin-top: $spacing;
	}
}
