.back_ground {
	position: absolute;
	background-color: transparent;
	width: 100vw;
	height: calc(100vh - 3rem);

	/* top: 2em; */
}

.mobile_screen {
	display: none;
}

.intro_box {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);

	background-color: #121212;
	border: 1px solid #ffffff;
	border-radius: 1em;
	box-shadow: 0 0 1em 0.5em #0bf775;
	padding: 1.5em;
	color: #f0ddc1;

	z-index: 10;
	animation: slide 1s ease-in-out;
}

@keyframes slide {
	0% {
		top: -25%;
		background-color: transparent;
	}
	100% {
		top: 25%;
		background-color: #121212;
	}
}

.info_name {
	margin: 0.5em 0;
	font-size: 2em;
}

.info_content {
	font-size: 1em;
	line-height: 1.5em;
}

.nav_block {
	color: #f0ddc1;
	padding: 0.5em;
	background-color: transparent;

	border: 1px solid #ffffff;
	border-radius: 1em;
	position: absolute;
	animation: float 2.5s infinite ease-in-out;
	text-decoration: none;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-0.5em);
	}
	100% {
		transform: translateY(0);
	}
}
@media screen and (max-width: 1500px) {
	.about {
		position: absolute;
		top: calc(50% + 3em);
		left: calc(50% - 20em);
		animation-delay: 1s;
		box-shadow: 0 0 0.5em 0.3em #9ff1eb;
	}
	.contact {
		position: absolute;
		top: calc(50% + 11em);
		left: calc(50% - 18em);
		animation-delay: 2s;
		box-shadow: 0 0 0.5em 0.3em #fa65cd;
	}
	.skills {
		position: absolute;
		top: calc(50% + 3em);
		right: calc(50% - 20em);
		animation-delay: 1.5s;
		box-shadow: 0 0 0.5em 0.3em #f1b84e;
	}
	.projects {
		position: absolute;
		top: calc(50% + 11em);
		right: calc(50% - 18em);
		animation-delay: 0.5s;
		box-shadow: 0 0 0.5em 0.3em #d0f138;
	}
}

@media screen and (max-width: 1000px) {
	.intro_box {
		width: calc(100vw - 7rem);
		font-size: 1em;
	}
	.about {
		position: absolute;
		top: calc(50% + 3em);
		left: calc(50% - 12em);
		animation-delay: 1s;
		box-shadow: 0 0 0.5em 0.3em #9ff1eb;
		font-size: 1.2em;
	}
	.contact {
		position: absolute;
		top: calc(50% + 11em);
		left: calc(50% - 10em);
		animation-delay: 2s;
		box-shadow: 0 0 0.5em 0.3em #fa65cd;
		font-size: 1.2em;
	}
	.skills {
		position: absolute;
		top: calc(50% + 3em);
		right: calc(50% - 12em);
		animation-delay: 1.5s;
		box-shadow: 0 0 0.5em 0.3em #f1b84e;
		font-size: 1.2em;
	}
	.projects {
		position: absolute;
		top: calc(50% + 11em);
		right: calc(50% - 10em);
		animation-delay: 0.5s;
		box-shadow: 0 0 0.5em 0.3em #d0f138;
		font-size: 1.2em;
	}
}

@media screen and (max-width: 700px) {
	.intro_box {
		width: calc(100vw - 5rem);
		font-size: 1.5em;
	}
	.about {
		position: absolute;
		top: calc(50% + 8em);
		left: calc(50% - 10em);
		animation-delay: 1s;
		box-shadow: 0 0 0.5em 0.3em #9ff1eb;
	}
	.contact {
		position: absolute;
		top: calc(50% + 13em);
		left: calc(50% - 8em);
		animation-delay: 2s;
		box-shadow: 0 0 0.5em 0.3em #fa65cd;
	}
	.skills {
		position: absolute;
		top: calc(50% + 8em);
		right: calc(50% - 10em);
		animation-delay: 1.5s;
		box-shadow: 0 0 0.5em 0.3em #f1b84e;
	}
	.projects {
		position: absolute;
		top: calc(50% + 13em);
		right: calc(50% - 8em);
		animation-delay: 0.5s;
		box-shadow: 0 0 0.5em 0.3em #d0f138;
	}
}

@media screen and (max-width: 400px) {
	.mobile_screen {
		display: flex;
		color: #f0ddc1;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 3rem;
	}
	.laptop_screen {
		display: none;
	}
}
