.background {
	position: absolute;
	background-color: transparent;
	width: 100%;
	height: 100%;
	color: #ffffff;
	/* top: 2em; */

	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	color: #ff5a00;
	font-size: 3rem;
	font-family: monospace;
	text-align: center;
}

.icon_container {
	height: 70vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.gmail,
.whatsapp,
.linkedIn,
.instagram,
.discord {
	position: relative;
	width: 40rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 1rem;
}

a {
	text-decoration: none;
	color: #ddeeb3;
}

.gmail {
	border: 0.2rem solid #ff3300;
	color: #ff3300;
}
.gmailIcon {
	position: absolute;
	left: -4rem;
	width: 3rem;
	height: 3rem;
	color: #ff3300;
}

.whatsapp {
	border: 0.2rem solid #0fe460;
	color: #0fe460;
}
.whatsappIcon {
	position: absolute;
	right: -4rem;
	width: 3rem;
	height: 3rem;
	color: #0fe460;
}

.linkedIn {
	border: 0.2rem solid #0080ff;
	color: #0080ff;
}
.linkedInIcon {
	position: absolute;
	left: -4rem;
	width: 3rem;
	height: 3rem;
	color: #0080ff;
}

.instagram {
	border: 0.2rem solid #ff0055;
	color: #ff0055;
}
.instagramIcon {
	position: absolute;
	left: -4rem;
	width: 3rem;
	height: 3rem;
	color: #ff0055;
}

.discord {
	border: 0.2rem solid #7040ff;
	color: #7040ff;
}
.discordIcon {
	position: absolute;
	right: -4rem;
	width: 3rem;
	height: 3rem;
	color: #7040ff;
}

@media screen and (max-width: 900px) {
	.gmail,
	.whatsapp,
	.linkedIn,
	.instagram,
	.discord {
		position: relative;
		width: 20rem;
		height: 4rem;
		font-size: 1.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.gmail {
		color: #f30;
	}
	.whatsapp {
		color: #0fe460;
	}
	.linkedIn {
		color: #0080ff;
	}
	.instagram {
		color: #f05;
	}
	.discord {
		color: #7040ff;
	}
}

@media screen and (max-width: 600px) {
	.gmail,
	.whatsapp,
	.linkedIn,
	.instagram,
	.discord {
		position: relative;
		width: 20rem;
		height: 4rem;
		font-size: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		word-break: break-all;
		padding: 0 1rem;
	}
	.text {
		font-size: 1.2rem;
		width: 15rem;
	}
	.background {
		/* position: absolute;
		display: flex; */
		justify-content: flex-start;
		/* align-items: center; */
	}
}
