.main {
	position: absolute;
	display: flex;
	justify-content: flex-start;
    align-items: flex-start;
	height: 100%;
    width: 100%;
}

@media screen and (max-width: 700px) {
	.main {
		position: absolute;
		top: 12rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		transform: scale(1.5);
	}
}