.skill_background {
	position: fixed;
	background-color: #000000;
	width: 100vw;
	height: 100vh;
}

.graph_size {
	position: absolute;
	color: #f5def3;
	top: 3em;
	height: calc(100vh - 3rem);
	width: 100vw;
}
