@import '../../../index.scss';

.container {
	position: relative;
	background: $dark-glasseffect;
	backdrop-filter: saturate(180%) blur(10px);
	margin: 0.5rem;

	color: $dark-text;
	// box-shadow: 0 0 1.1rem inset $dark-primary;
	border-radius: 0.5rem;
	padding: 1rem;

	min-width: 25dvw;
}