@import '@src/index.scss';

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $perc-100;
	height: $perc-100;

	.login {
		width: $perc-100;
		height: $perc-50;
		display: inherit;
		justify-content: inherit;
		align-items: center;
		flex-direction: column;
		row-gap: $spacing-double;
		
		.form {
			width: $perc-100;
			gap: $spacing-double;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			&_btn {
				width: $perc-100;
				background-color: $dark-glasseffect-inset;
				box-shadow: 0 0 0 0.1rem $dark-glasseffect;
				color: $dark-primary;

				@include media-md {
					width: $perc-25;
				}
			}
		}

		@include media-md {
			width: $perc-50;
		}
	}
}
