@import '@src/index.scss';

$rep-md: 1.2;
$tt-rep: 5;

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $width-vw-100;
	height: $perc-100;

	.box {
		width: $perc-100;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		padding: $spacing-double $spacing;
		top: 0;

		@include media-md {
			width: $width-vw-50; // calc($width-vw-50 * $rep-md);
			height: fit-content;
			padding: $spacing $spacing-double;
		}

		@include media-xxl {
			width: $width-vw-25;
			height: $height-vh-50;
		}
	}

	.items {
		padding: $spacing-half $spacing;
		margin: $spacing-half;

		background-color: $dark-glasseffect;
		border-radius: $size-half;
		width: calc($perc-100 * (3/4));
		font-size: $size;
		position: relative;
		overflow: hidden;
		// cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			left: calc($size-double * -3);
			top: 0;
			width: calc($size-double * $tt-rep);
			height: 0;

			border-left: $size-double solid transparent;
			border-right: $size-double solid transparent;
		
			border-bottom: $size-half solid $dark-glasseffect;
			transform: rotateZ(-45deg);
			
			box-shadow: 0 $spacing $dark-glasseffect, 0 $spacing-double $dark-glasseffect-inset;
		}

		@include media-md {
			width: $perc-100;
		}

		@include media-xxl {
			font-size: $size-one-half;
		}
	}
	.group {
		display: grid;
		grid-template-columns: 1fr 6fr;
		align-items: center;
		width: $perc-100;

		.icon {
			font-size: calc($size * 1.3);
		}
	}
}