@import '@src/index.scss';

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $width-vw-100;
	height: $perc-100;

	&_child {
		width: $perc-100;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: 0;

		@include media-md {
			width: $width-vw-25;
			height: calc($height-vh-50 * 1.2);
			padding: $spacing;
		}

		@include media-xxl {
			width: $width-vw-25;
			height: $height-vh-50;
			padding: $spacing $spacing-double;	
		}
	}

	.items {
		padding: $spacing-half $spacing;
		background-color: $dark-glasseffect;
		border-radius: $size-half;
		margin: $spacing-half;
		width: $perc-100;
		font-size: $size-one-half;
		cursor: pointer;

		@include media-md {
			width: calc($perc-50 * (3/2));
			font-size: $size;
		}

		@include media-xxl {
			font-size: $size-one-half;
		}
	}
	.group {
		display: grid;
		grid-template-columns: 1fr 6fr;
		align-items: center;
		width: $perc-100;
	}
}