@import '@src/index.scss';

.container {
	position: relative;

	min-width: $perc-100;
  
	&.focused {
	  label {
		top: -0.9rem;
		color: $dark-primary;
		font-size: 0.9rem;
	  }
	}

	label {
	  position: absolute;
	  top: 0;
	  left: $spacing-half;
	  padding: 0 0.2rem;
	  color: $dark-text;
	  font-size: $size;
	  pointer-events: none;
	  transition: all 0.3s ease;
	  z-index: 2;
	}
  
	.input {
	  width: $perc-100;
	  padding: 0.3rem;
	  
	  border: {
		width: 0 0 1px 5px;
		color: transparent transparent $dark-primary $dark-primary ;
		style: solid;
	  };
	  
	  font-size: $size;
	  transition: border-color 0.3s ease;
	  outline: none;
	  background-color: transparent;
	  color: $dark-text;
	}
}